src/main/mule/punchout-catalog-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="punchout-catalog-api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<apikit:config name="punchout-catalog-api-config" raml="punchout-catalog-api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

	<api-gateway:autodiscovery apiId="15635843"
		doc:name="API Autodiscovery" doc:id="3c5f1e7e-33c0-41a8-ae33-9cd2ac64626e"
		flowRef="punchout-catalog-api-main" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="6ab5b304-0b46-4df1-9090-82192466dce9" file="mule.properties" />
	<os:object-store name="cXMLCallbackStore" doc:name="Object store"
		doc:id="87227eab-44a1-4e3b-a46c-4bfecb4aa182" />
	<os:object-store name="ociCallbackStore" doc:name="Object store"
		doc:id="bd7f6ed5-23fd-4b02-8827-8bed895ab3f3" />
	<flow name="punchout-catalog-api-main">
		<http:listener config-ref="punchout-catalog-api-httpListenerConfig"
			path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="punchout-catalog-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="punchout-catalog-api-console">
		<http:listener config-ref="punchout-catalog-api-httpListenerConfig"
			path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="punchout-catalog-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\oci\PunchOutSetup:punchout-catalog-api-config">
		<os:store doc:name="Store" doc:id="c8d890b4-d0bc-4d61-ad06-2865eb516567"
			objectStore="ociCallbackStore" key="#[attributes.queryParams.USERNAME]">
			<os:value><![CDATA[#[attributes.queryParams.HOOKURL]]]></os:value>
		</os:store>
		<set-variable
			value='#[(vars.outboundHeaders default {}) ++ {"Location":"https://sdodemo-main-166ce2cf6b6-1683e62625a.force.com/DefaultStore/login?pw=salesforce1&amp;un=lbailey@mrc.com"}]'
			doc:name="Set Location Header" doc:id="fc1fe281-1dfa-4099-b002-d32a103bd82c"
			variableName="outboundHeaders" />
		<ee:transform doc:name="Transform Message" doc:id="b782771f-ba0a-4ddd-a92d-3431ca46fe81" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
(vars.outboundHeaders default {}) ++ {"Location":"https://sdodemo-main-166ce2cf6b6-1683e62625a.force.com/DefaultStore/login?pw=" ++ attributes.queryParams.PASSWORD ++ "&un=" ++ attributes.queryParams.USERNAME}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="302" doc:name="Set HTTP Status"
			doc:id="18116804-df9f-4843-9852-56b9197a0b40" variableName="httpStatus" />
	</flow>
	<flow name="get:\cxml:punchout-catalog-api-config">
		<parse-template doc:name="Parse Template" doc:id="968bc83e-f2d7-40f8-a219-f84ad45138d6" location="cxml/form.html" />
    
	</flow>
	<flow name="post:\oci\callback:punchout-catalog-api-config">
				<os:retrieve doc:name="Retrieve" doc:id="68242bfd-12ba-4a2b-bb1e-748f4d787dde" key="#[payload.sfdcName]" objectStore="ociCallbackStore" target="buyerUrl">
			<os:default-value ><![CDATA[#["http://mock-buyer.us-e1.cloudhub.io/oci"]]]></os:default-value>
		</os:retrieve>
		<parse-template doc:name="Parse OCI Template" doc:id="5e079244-47d7-471f-8572-ec34ceded161" location="oci/oci.html"/>
		<set-payload value="#[payload]" doc:name="Set MIME Type" doc:id="5687fd1f-d875-4a0d-ad00-f5aaea331217" mimeType="text/plain" />
		<ee:transform doc:name="Transform Message" doc:id="213d68d2-69cf-4ecd-a28d-2ab24add1c73">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
payload as String replace /\<\?xml.+\>/ with '']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set MIME Type" doc:id="3d5aa007-7506-4c30-a1e8-ec38766e5cc6" mimeType="text/html"/>
    
	</flow>
	<flow name="post:\cxml\callback:punchout-catalog-api-config">
		<ee:transform doc:name="Transform Message"
			doc:id="b7fefc00-1df0-47e8-bf1c-8866306966f2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
inlineCloseOn = "none"
---
{
	cXML: {
		Header: {
			From: {
				Credential: {
					Identity: null,
					SharedSecret: null
				}
			},
			To: {
				Credential: {
					Identity: null,
					SharedSecret: null
				}
			}
		},
		Message: {
			PunchOutOrderMessage: {
				ItemIn: payload.ECartItemsS map {
					ItemID: {
						SupplierPartID: $.sku,
						SupplierPartAuxiliaryID: null
					},
					ItemDetail: {
						UnitPrice: {
							Money @(currency: payload.currencyISOCode): $.price
						},
						UnitOfMeasure: $.unitOfMeasure
					}
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\cxml:punchout-catalog-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="e6c180dc-980c-40aa-9ab6-1854c07763ae" />
		<ee:transform doc:name="Transform Message" doc:id="4feca8b5-4aea-4c5f-bfee-3cb474ac1767">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.'cXML-urlencoded' as String replace /\<!DOCTYPE.+\>/ with '']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[output application/xml --- read(payload,'application/xml')]" doc:name="Set Payload" doc:id="a75045a0-50b0-49bf-92c9-40029b450abd" />
		<set-variable value="#[output text/plain --- payload.cXML.Request.PunchOutSetupRequest.@operation]" doc:name="Set Operation" doc:id="52a5bcb5-2854-4757-97bf-643cc49009ae" variableName="operation"/>
		<os:store doc:name="Store" doc:id="0026ba95-746b-421f-a059-a34b7693c534" key="#[output text/plain --- payload.cXML.Request.PunchOutSetupRequest.BuyerCookie]" objectStore="cXMLCallbackStore">
			<os:value ><![CDATA[#[output text/plain --- payload.cXML.Request.PunchOutSetupRequest.BrowserFormPost.URL]]]></os:value>
		</os:store>
		<choice doc:name="Choice" doc:id="5401a232-8c9c-4107-b47a-067e8356c442" >
			<when expression="#[vars.operation == 'create']">
				<ee:transform doc:name="Transform Message" doc:id="b43fd492-ef58-4255-bc2d-5b45b935879f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	cXML @(timestamp: now() , lang: "en-US"): {
		Response: {
			Status @(code: 200 , text: "OK"): null,
			PunchOutSetupResponse: {
				StartPage: {
					URL: "https://sdodemo-main-166ce2cf6b6-1683e62625a.force.com/DefaultStore/login?pw=salesforce1&un=lbailey@mrc.com"
				}
			}
		}
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="9147d5fc-e79e-4644-919f-61185a5d7bae" message="No Operation"/>
			</otherwise>
		</choice>
	</flow>
</mule>
